.admin
	h2 ADMIN - EDIT
	form(method="POST", action="/edit")
		p
			input(name="post[title]", value=post.title)
		p
			textarea(name="post[text]")
		p
			button(name="postButton", type="submit") Post
		p= post.body

script(src='/javascripts/tiny_mce/tiny_mce.js')
script
	tinyMCE.init({
		mode : "textareas",
		theme: "advanced",
		width: "800"
	});

!=	"<script>"
!=	"setTimeout(function() {"
!=		"tinyMCE.activeEditor.setContent($('" + post.body + "').text());"
!=	"}, 200);"
!=	"</script>"