.admin
	h2 ADMIN - EDIT
	form(method="POST", action="/edit")
		input(name="post[id]", type="hidden", value=post._id)
		p
			input(id="title", name="post[title]", value=post.title)
		p
			textarea(id="editArea", name="post[text]") #{post.body}
		p
			button(name="postButton", type="submit") Post

script(src='/javascripts/tiny_mce/tiny_mce.js')
script
	tinyMCE.init({
		mode : "textareas",
		theme: "advanced",
		width: "800"
	});

	setTimeout(function() {
		tinyMCE.activeEditor.setContent($('#editArea').val());
	}, 200);