each post in posts
	.post
		h2
			a(href="/post/" + post._id) #{post.title}
		.date
			p posted by #{post.author} on #{post.date}
		p!= post.body
		if user
			p
				a(href="/edit/" + post._id) edit
.admin_menu
	if user
		p 
			a(href="/admin") admin
			| 
			a(href="/logout") logout
	else
		p
			a(href="/login") login
