.login
	h2 LOGIN
	form(method='POST', action="/login")
		p
			input(name='username', placeholder="Username")
		p
			input(name='password', type="password", placeholder="Password")
		p
			button(name='loginButton', type="submit") Login