body {
	algin 
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
}

.admin_menu {
	text-align: center;
}

.login {
	text-align: center;
}

.admin input {
	width: 800px;
	font: 20pt "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}